<div class="content">
      <h4>Please sign here:</h4>
<form method="POST">
    <input type="hidden" name="sig" id="sig">
    <div>
      <canvas class="signature" name="canvas" width="600" height="65"></canvas>
    </div>
    <div>
      <button class="button">Submit</button>
    </div>
</form>
<div><a href="/profile">Back to profile</a></div>
<script src="/signature.js"></script>
</div>
