<div class="content">
  <h4>Thank you for signing the petition {{user.first}} {{user.last}} :)</h4>

<img src="earthy.png">

<div><img id="sig" width="600" height="65" src="{{sig}}"></div>

<div><a href="/signers">See all {{number}} signers</a></div>
<div><a href="/eprofile">Edit your profile</a></div>
<form method="POST">
<div><button class="button">Delete your signature</button></div>
</form>

<div><a href="/logout">Logout</a></div>
</div>
