<h2>Make planet Earth a decent place to live again!</h2>
<img src="earthy.png">
<div class="intro">
<p>We the undersigned,</p>
<p>Demand an immediate stop to global warming crisis by a complete transition of our energy production to non-fossil fuel sources, </p>
<p>End of deforestation, unsustainble farming, ocean acidification and therefore sixth mass species extinction,</p>
<p>Global disarmament of both conventional and nuclear weapons,</p>
<p>Mass reduction in in both global and local income inequalities</p>
<p>and entirely accessible healthcare, education and housing.</p>
<p>Also, legalize it!</p>
<p>Truly yours,</p>
<p>People of the planet</p>
</div>
<div>
<a class="yes" href="/registration">Sign the petition</a>
</div>
